.container-background {
  background: url('../img/background.png');
  background-size: cover;
  background-position-y: -360px;
  background-repeat: no-repeat;
  height: 2040px;
}
@media only screen and (max-width: 1740px) {
  .container-background {
    background-position-y: -100px;
    height: 1500px;
  }
}
@media only screen and (max-width: 1490px) {
  .container-background {
    background-position-y: 0px;
    height: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  .container-background {
    background-position-y: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .container-hero {
    width: 400px;
  }
  .container-background {
    background-position-y: 150px;
  }
}
