body
  font-family: helvetica
  margin: 0
.container
  display: flex
  flex-grow: 3
  justify-content: space-around
.container-hero
  width: 500px
  margin: 300px 0 0
.hero-text
  text-align: center
  color: #fff
  font-style: normal
  letter-spacing: normal
  line-height: normal
.hero-text h1
  font-size: 140px
  text-transform: uppercase
  font-weight: bold
  line-height: 90px
  margin: 0
.hero-text h2
  font-size: 17px
  text-transform: uppercase
  font-weight: normal
  letter-spacing: 11px
  color: #e3443e
.hero-text h2.error
  letter-spacing: 0px
.hero-text p
  font-size: 19px
  font-weight: normal
  margin: 40px 0 40px 0
  line-height: 25px
  color: #428abb
.symbol
  width: 200px
.logo
  width: 230px
.team-container
  background: #fff
  padding: 100px 0
.container-about
  width: 800px
.about-hero
  display: flex
.about-text
  padding: 20px 0 0 60px
.team-listing
  padding: 20px 0 0 0
  li
    display: inline-block
    list-style-type: none
    margin: 0 2px
  img
    width: 85px
h3
  text-align: center
  font-size: 64px
  font-weight: bold
  color: #3a3a3c
  margin: 15px 0 30px 0
.footer-container
  background: #3a3a3c
  color: #fff
  text-align: center
  padding: 10px 0
  h3
    color: #fff
ul.footer-links li
  display: inline-block
  margin: 0 10px
  a
    text-decoration: underline
    color: #fff
  a:hover
    text-decoration: none
