doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Candor Interactive
    meta(name="description", content="Candor Interactive - Coming soon")
    link(rel="stylesheet" href="main.css")
  body
    != yield
