.container.container-background
  .container-hero
    .hero-text
      h1 Lure
      h2 Opposites attract
      p Lure is a 3D puzzle platformer game about magnets in love. Experience the different stages of a relationship through magnets.
      img(src="img/symbol.png").symbol
.container.team-container
  .container-about
    h3 About us
    .about-hero
      .about-image
        img(src="img/logo.png").logo
      .about-text
        p Candor Interactive is currently working on a puzzle game, Lure, and is taking on clients.
        ul.team-listing
          li
            img(src="img/team/vidhi.png")
          li
            img(src="img/team/rafa.png")
          li
            img(src="img/team/carina.png")
          li
            img(src="img/team/conrad.png")
.container.footer-container
  .container-footer-inner
    ul.footer-links
      li
        p +1 (778) 2239 201
      li
        a(href="mailto:candorinteractive@gmail.com") candorinteractive@gmail.com
      li
        a(href="https://twitter.com/candorcrew" target="_blank") Twitter
