.container
  .container-hero
    .hero-text
      h1 Lure
      h2 Opposites attract
      p Lure is a 3D puzzle platformer game about magnets in love. Experience the different stages of a relationship through magnets.
      img(src="img/symbol.png").symbol
.team-container
  .container
    .container-about
      h3 About us
      .about-hero
        .about-image
          img(src="img/logo.png").logo
        .about-text
          p Candor Interactive is currently working on a puzzle game, Lure, and is taking on clients.
.footer
  .container
    h3 Stay in touch
    p +1 (778) 2239 201
    p candorinteractive@gmail.com
